<style>
  * {
    border: thin red solid;
    box-sizing: border-box;
  }
  
  .tr {
    clear: both;
  }
  
  .td-col-1 {
    width: 0.08333333333%;
    float: left;
  }
  
  .td-col-2 {
    width: 0.16666666667%;
    float: left;
  }

  .td-col-3 {
    width: 25%;
    float: left;
  }

  .td-col-4 {
    width: 33.3333333333%;
    float: left;
  }

  .td-col-6 {
    width: 50%;
    float: left;
  }
</style>


<div class="table">
  <div class ="tr">
    <div class="td-col-4">
      1
    </div>
    
    <div class="td-col-4">
      2
    </div>
    
    <div class="td-col-4">
      3
    </div>
    
  <div class = "tr">
    <div class="td-col-6">
      4
    </div>    
    
    <div class="td-col-6">
      5
    </div>
  </div>
    
    
  </div>
</div>



<a href="/rock">
  <i class="far fa-hand-rock fa-fw"></i>

  Play Rock
</a>

<a href="/paper">
  <i class="far fa-hand-paper fa-fw"></i>

  Play Paper
</a>

<a href="/scissors">
  <i class="far fa-hand-scissors fa-fw"></i>

  Play Scissors
</a>

<h2>We played rock!</h2>

<p>
  <i class="far fa-hand-rock fa-10x"></i>
</p>

<h2>They played <%= @comp_move %>!</h2>

<p>
  <i class="far fa-hand-<%= @comp_move %> fa-10x"></i>
</p>

<h2>
  We <%= @outcome %>!
</h2>

<a href="/rules">
  Rules
</a>
